layout {
	focus-animation {
	// Uncomment this line to enable focus animation.
	on

	// Animation configuration for the focus animation.
	// Supports easing (duration-ms + curve) or spring.
	// duration-ms 200
	spring damping-ratio=0.5 stiffness=900 epsilon=0.0001

	scale {
		// Uncomment this line to enable scale flash.
		on

		// Scale factor to flash to when window gains focus.
		// 1.0 is normal size, < 1.0 is shrinking, > 1.0 is expanding.
		flash-scale 0.8

		// Disable focus animation when there's only one window.
		disable-on-solo true
		}
	}
}
