layout {
    gaps 10
    center-focused-column "never"
	always-center-single-column
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.4
    }
    focus-ring {
        // off
        width 2
    }
    border {
        width 1
    }
    shadow {
        // off
        draw-behind-window false
        softness 25
        spread 6
        offset x=0 y=0
		color "{{ colors.primary.dark.hex }}ff"
    }
    struts {

    }

	blur {
        on
        passes 3
        radius 4
        noise 0.04
    }
}
